<!-- ======= Footer ======= -->
<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

  

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">About me</a></li>               
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'blog' %}">Blog</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Projects</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://github.com/Davraph/BTreal_estate_Django"></a>BTreal_estate</li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://github.com/Davraph/FlightBookingService-Django"></a>FlightBookingService</li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://github.com/Davraph/Recipe-app-api">Recipe Api</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://github.com/Davraph/Dental-App"></a>Dental App</li>
              <li><i class="bx bx-chevron-right"></i> <a href="#"></a>Robofriends</li>
             
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Me</h4>
            <p>
              <strong>Phone:</strong> +48 572168416<br>
              <strong>Email:</strong> developsrapheal28@gmail.com
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Note To Self</h3>
            <a href="#"  ><p>Pratice makes you BETTER ....keep learning  and make sure you apply what you've learn't..
            </br>      
            </br> 
            I can do all things by God's Grace!!!
            
            </p></a>
            <div class="social-links mt-3">
              {% comment %} <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-github"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> {% endcomment %}
            </div>
          </div>

        </div>
      </div>
    </div>

  </footer><!-- End Footer -->

