{% extends 'base.html'%}

{% load humanize %}



{% load static %}
{% block content %}

<!-- ======= Blog Section ======= -->
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Blog</h2>

      <ol>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li>{{post.title}}</li>
      </ol>
    </div>

  </div>
</section><!-- End Blog Section -->

<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-8 entries">

        <article class="entry entry-single">
     
          <div class="entry-img">
            <img src="{{ post.image.url }}" alt="" class="img-fluid">
          </div>

          <h2 class="entry-title">
            <a href="#">{{ post.title}}</a>
          </h2>

          <div class="entry-meta">
            <ul>
              <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{% url 'about' %}">{{ post.author }}</a></li>
              <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="2020-01-01">{{ post.created_on | naturalday }}</time></a></li>
              <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#"> {{comments_count}} Comments</a></li>
              <li class="d-flex align-items-center"><i class="bi bi-eye"></i> <a href="#">views: {{ post.views | intword }}</a></li>
            </ul>
          </div>

          <div class="entry-content">

            <h3>{{post.name_1}}</h3>
    
            <p>
              {{ post.content }}
            </p>
            <!-- <blockquote>
              <p>
               {{ post.content }}
              </p>
            </blockquote> -->
            <img src="assets/img/blog/blog-inside-post.jpg" class="img-fluid" alt="">

            <h3>1. {{post.name_2}}</h3>
            
            <p>
              {{post.content_1}}

            </p>  

            <h3>2. {{post.name_3}}</h3>
            
            <p>
              {{post.content_2}}
            </p> 
            <h3>3.{{post.name_4}}</h3>
            
            <p>
              {{post.content_3}}
            </p> 
            <h3>4. {{post.name_5}}</h3>
            
            <p>
             {{post.content_4}}
            </p> 
            <h3>5. {{post.name_6}}</h3>
            
            <p>
              {{post.content_5}}
            </p> 

          </div>



          <div class="blog-comments">
          
          </br>
          </br>
          </br>
            <h4 class="comments-count"> {{comment_count}} Comments </h4>


            {% for comment in comments%}
            <div id="comment-1" class="comment">
             
              <div class="d-flex">
                <div class="comment-img"><img src="{% static 'img/user.png' %}" alt=""></div>
                <div>
                  <h5><a href="">{{ comment.user }}</a></h5>
                  <time datetime="2020-01-01">{{ comment.created_date | naturalday }}</time>
                  <p>
                      {{ comment.text|linebreaks }}
                  </p>
                </div>
              </div>
                 {% endfor %}
            </div><!-- End comment #1 -->
        
            <div class="reply-form">
              <h4>Leave a Reply</h4>
              <p>Your email address will not be published. Required fields are marked  </p>
              <form action="{% url 'post-detail' post.slug %}" method="POST">
                {% csrf_token %}
                {% for form_field in comment_form %}
                <div class="row">

                  {{form_field.label_tag}}
                  {{ form_field }}
                  {{ form_field.errors}}

                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Post Comment</button>

              </form>

            </div>
      </div>
    </div>
            
  </div>
         
    </div> 

          

          

      </div><!-- End blog sidebar -->

    </div>

  </div>
</section><!-- End Blog Single Section -->

</main><!-- End #main -->


{% endblock %}